<html lang="en">
<head>
      <title>Image Processing Server</title>
      <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="container">
      <form method="post" action="/upload" enctype="multipart/form-data">
            <div class="inputs">
                  <div class="project">
                        <label >
                              <input  type="file" name="photo" class="file input-file"/>
                        </label>
                  </div>
                  <br>
                  <div class="project">
                        <button class="button" type="submit">Submit</button>
                  </div>
            </div>
      </form>
</div>
</body>
</html>

