<html lang="en">
<head>
      <title>Photo Viewer</title>
</head>
<body>
<form method="post" action="/upload" enctype="multipart/form-data">
      <input class="file-input" type="file" name="photo"/>
      <input class="submit-button" type="submit" value="Submit"/>
</form>
</body>
</html>