<html lang="en">
<head>
      <title><%= title %></title>
      <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body style="display: flex">

<div class="photos">
      <div class="container" style="display: flex; flex-direction: row; width: 400px; margin-bottom: 5px" >
            <div><label>Resized <br> 100 x 100</label>
                  <img src="photos/resized-<%= filename %>" alt="" style="margin: 10px auto"/>
            </div>

            <div><label>Monochrome </label><br>
                  <img src="photos/monochrome-<%= filename %>" alt="" style="margin: 10px auto" width="250"/>
            </div>
      </div>
      <br><br>
      <div class="container" style="margin-top: 5px"><label>Original </label>
            <img src="photos/<%= filename %>" alt="" style="margin: 10px auto" width="100%"/>
      </div>
</div>

</body>
</html>