<html lang="en">
<head>
      <title><%= title %></title>
</head>
<body>

Resized 100 x 100 <br>
<img src="photos/resized-<%= filename %>" alt="" style="margin: 10px auto"/> <br><br>
Monochrome <br>
<img src="photos/monochrome-<%= filename %>" alt="" style="margin: 10px auto" width="250"/><br><br>
Original <br>
<img src="photos/<%= filename %>" alt="" style="margin: 10px auto"/>

</body>
</html>